<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ranking</h1>
    <table>
        <tr>
            <th>Usuário</th>
            <th>Pontos</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.points }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('home') }}">Voltar para a página inicial</a>
</body>
</html>